<style>
  .swal-button:focus {
    box-shadow: none;
  }
  .sweet-alert button:focus {
    box-shadow: none;
  }
  </style>
<h2>Reservas</h2>
<hr class="primary" style="height: 0.4rem; background-image: -webkit-linear-gradient(left, #2471a3, #1f618d, #1a5276);" />
<div class="card">
  <div class="card-body">
    <div class="row">
      <h3>Credenciales</h3>
    </div>
    <div class="row">
      <form class="col-md-12" role="form" #agrupadoresForm="ngForm" novalidate>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="usuario">Usuario</label>
            <input class="form-control"
                   type="text"
                   id="usuario"
                   name="usuario"
                   #vUsuario = "ngModel"
                   [(ngModel)]="usuario"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="'-_/."
                   maxlength="25"
                   required>
            <span *ngIf="vUsuario.errors?.required" class="mensaje-requerido">Usuario es requerido</span>
          </div>
          <div class="form-group col-md-4">
            <label for="password">Contraseña</label>
            <input class="form-control"
                   type="password"
                   id="password"
                   name="password"
                   #vPassword = "ngModel"
                   [(ngModel)]="password"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="'-_/."
                   maxlength="25"
                   required>
            <span *ngIf="vPassword.errors?.required" class="mensaje-requerido">Contraseña es requerido</span>
          </div>
          <div class="form-group col-md-4">
            <label for="canal">Canal</label>
            <select class="form-control"
                    id="canal"
                    name="canal"
                    #vCanal="ngModel"
                    [(ngModel)]="canal"
                    required>
              <option [ngValue]="null">SELECCIONAR</option>
              <option *ngFor="let c of vObjCanal" [ngValue]="c.codigo">{{c.codigo}} - {{ c.descripcion }}</option>
            </select>
            <span *ngIf="vCanal.errors?.required" class="mensaje-requerido">Canal es requerido</span>
          </div>
        </div>

      </form>
    </div>

    <div class="row">
      <h3>Búsqueda por</h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row" style="margin-left: 0px;margin-right: 0px;">
          <div class="form-check form-check-inline" style="margin-bottom: 15px;">
            <input class="form-check-input"
                   type="radio"
                   name="agrupador"
                   id="agrupador"
                   value="1"
                   [(ngModel)]="rdTipoAgrupador">
            <label class="form-check-label" for="agrupador" style="margin-top: -5px;padding-left: 0px;">Agrupador</label>
          </div>
          <div class="form-check form-check-inline" style="margin-bottom: 15px;">
            <input class="form-check-input"
                   type="radio"
                   name="localizador"
                   id="localizador"
                   value="2"
                   [(ngModel)]="rdTipoAgrupador">
            <label class="form-check-label" for="localizador" style="margin-top: -5px;padding-left: 0px;">Localizador</label>
          </div>
          <div class="form-check form-check-inline" style="margin-bottom: 15px;">
            <input class="form-check-input"
                   type="radio"
                   name="ambos"
                   id="ambos"
                   value="3"
                   [(ngModel)]="rdTipoAgrupador">
            <label class="form-check-label" for="ambos" style="margin-top: -5px;padding-left: 0px;">Ambos</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <form class="col-md-12" role="form" #agrupadoresForm="ngForm" novalidate>
        <div class="form-row" *ngIf="rdTipoAgrupador === '1'">
          <div class="form-group col-md-6">
            <label for="codigoAgrupador">Código Agrupador</label>
            <input class="form-control"
                   type="text"
                   id="codigoAgrupador"
                   name="codigoAgrupador"
                   #vCodigoAgrupador = "ngModel"
                   [(ngModel)]="codigoAgrupador"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="'-_/"
                   onkeyup="javascript:this.value=this.value.toUpperCase();"
                   maxlength="20"
                   required>
            <span *ngIf="vCodigoAgrupador.errors?.required" class="mensaje-requerido">Código Agrupador es requerido</span>
          </div>
        </div>

        <div class="form-row" *ngIf="rdTipoAgrupador === '2'">
          <div class="form-group col-md-6">
            <label for="codigoLocalizador">Código Localizador</label>
            <input class="form-control"
                   type="text"
                   id="codigoLocalizador"
                   name="codigoLocalizador"
                   #vCodigoLocalizador = "ngModel"
                   [(ngModel)]="codigoLocalizador"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="'-_/"
                   onkeyup="javascript:this.value=this.value.toUpperCase();"
                   maxlength="20"
                   required>
            <span *ngIf="vCodigoLocalizador.errors?.required" class="mensaje-requerido">Código Localizador es requerido</span>
          </div>
        </div>
        <div class="form-row" *ngIf="rdTipoAgrupador === '3'">
          <div class="form-group col-md-6">
            <label for="ambosCodigoAgrupador">Código Agrupador</label>
            <input class="form-control"
                   type="text"
                   id="ambosCodigoAgrupador"
                   name="ambosCodigoAgrupador"
                   #vAmbosCodigoAgrupador = "ngModel"
                   [(ngModel)]="codigoAgrupador"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="'-_/"
                   onkeyup="javascript:this.value=this.value.toUpperCase();"
                   maxlength="25"
                   required>
            <span *ngIf="vAmbosCodigoAgrupador.errors?.required" class="mensaje-requerido">Código Agrupador es requerido</span>
          </div>
          <div class="form-group col-md-6">
            <label for="ambosCodigoLocalizador">Código Localizador</label>
            <input class="form-control"
                   type="text"
                   id="ambosCodigoLocalizador"
                   name="ambosCodigoLocalizador"
                   #vAmbosCodigoLocalizador = "ngModel"
                   [(ngModel)]="codigoLocalizador"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="'-_/"
                   onkeyup="javascript:this.value=this.value.toUpperCase();"
                   maxlength="25"
                   required>
            <span *ngIf="vAmbosCodigoLocalizador.errors?.required" class="mensaje-requerido">Código Localizador es requerido</span>
          </div>
        </div>
      </form>
    </div>

    <div class="card">
      <div class="card-header">
        <form class="form-inline">
          <button type="button"
                  class="btn btn-spt-general"
                  (click)="llamarServicios()"
                  [disabled]="(usuario === '' || usuario === null) ||
                              (password === '' || password === null) ||
                              (canal === '' || canal === null) ||
                              (rdTipoAgrupador === '1' && (codigoAgrupador === '' || codigoAgrupador === null)) ||
                              (rdTipoAgrupador === '2' && (codigoLocalizador === '' || codigoLocalizador === null)) ||
                              (rdTipoAgrupador === '3' && (codigoAgrupador === '' || codigoAgrupador === null || codigoLocalizador === '' || codigoLocalizador === null))">
            <i class="fas fa-arrow-alt-circle-down"></i>&nbsp;Cargar Datos
          </button>
          <div class="input-group col-4">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="icon ion-search"></i></div>
            </div>
            <input id="data"
                   name="data"
                   type="text"
                   class="form-control"
                   placeholder="Buscar Cliente"
                   maxlength="25"
                   [(ngModel)]="filtroDeBusqueda"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="/_,.">
          </div>
        </form>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="tabla-cabecera">
            <tr *ngIf="cantFilas > 0">
              <th class="tabla-sobreCabecera" colspan="6" style="text-align:center">Cod. Agrupador:&nbsp;&nbsp;&nbsp;&nbsp;{{listaObjeto.codigoAgrupador}}</th>
            </tr>
            <tr>
              <th style="text-align:center">Acciones</th>
              <th>Cod. Localizador </th>
              <th>Razón Social</th>
              <th>NIT</th>
              <th>Tipo</th>
              <th>Monto (Bs.)</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of listaObjeto.localizadores | filtro: filtroDeBusqueda | paginate: { itemsPerPage: 100, currentPage: 1} ; index as i">
              <td *ngIf="i===0" [attr.rowspan]="listaObjeto.localizadores.length" align="center" style="vertical-align: middle">
                <button title="Pagar"
                        class="btn btn-spt-icon btn-primary"
                        (click)="pagarAdvertencia(listaObjeto.codigoAgrupador, listaObjeto.localizadores)"><i class="far fa-money-bill-alt"></i></button>
              </td>
              <td>{{data.codigoLocalizador}}</td>
              <td>{{data.razonSocial}}</td>
              <td>{{data.nit}}</td>
              <td>{{data.tipoDocumento}}</td>
              <td align="right">{{data.montoPago | number : '1.2-2'}} </td>
            </tr>
            </tbody>
          </table>
        </div>
        <pagination-controls *ngIf="listaObjeto.localizadores > 0" (pageChange)="pagina = $event"></pagination-controls>
      </div>
    </div>

  </div>
</div>















