
<div class="modal-header titulo-modal">
  <h4>Actualizar Credenciales para {{vObjRecibido.descripcion}}</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form role="form" #modalForm="ngForm" novalidate>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="usuario">Usuario</label>
            <input class="form-control"
                   type="text"
                   id="usuario"
                   name="usuario"
                   #vUsuario = "ngModel"
                   [(ngModel)]="vObjCredenciales.usernameService"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="'-_/."
                   maxlength="25"
                   required>
            <span *ngIf="vUsuario.errors?.required" class="mensaje-requerido">Usuario es requerido</span>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="password">Contraseña</label>
            <input class="form-control"
                   type="password"
                   id="password"
                   name="password"
                   #vPassword = "ngModel"
                   [(ngModel)]="vObjCredenciales.passwordService"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="'-_/."
                   maxlength="25"
                   required>
            <span *ngIf="vPassword.errors?.required" class="mensaje-requerido">Contraseña es requerido</span>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="confirmPassword">Confirmar Contraseña</label>
            <input class="form-control"
                   type="password"
                   id="confirmPassword"
                   name="confirmPassword"
                   #vConfirmPassword = "ngModel"
                   [(ngModel)]="vConfirmacion"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="'-_/."
                   maxlength="25"
                   required>
            <span *ngIf="vConfirmPassword.errors?.required" class="mensaje-requerido">Confirmar Contraseña es requerido</span>
            <span *ngIf="!vConfirmPassword.errors?.required && (vObjCredenciales.passwordService !== vConfirmacion)" class="mensaje-requerido">Dato ingresado distinto.</span>
          </div>
        </div>



      </form>
    </div>
  </div>
</div>
<div class="modal-footer">

    <button class="btn btn-guardar"
            [disabled]="(vObjCredenciales.usernameService === '' || vObjCredenciales.usernameService === null) ||
                      (vObjCredenciales.passwordService === '' || vObjCredenciales.passwordService === null) ||
                      (vObjCredenciales.passwordService !== vConfirmacion)"
            (click)="guardarAdvertencia()">Guardar
    </button>
    <button class="btn btn-cancelar"
            (click)="cerrarVentana()">Cancelar
    </button>

</div>





