<h2>Clientes</h2>
<hr class="primary" style="height: 0.4rem; background-image: -webkit-linear-gradient(left, #2471a3, #1f618d, #1a5276);" />
<div class="card">
  <div class="card-body">
    <div class="row">
      <h3>Credenciales</h3>
    </div>
    <div class="row">
      <form class="col-md-12" role="form" #agrupadoresForm="ngForm" novalidate>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="usuario">Usuario</label>
            <input class="form-control"
                   type="text"
                   id="usuario"
                   name="usuario"
                   #vUsuario = "ngModel"
                   [(ngModel)]="usuario"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="'-_/."
                   maxlength="25"
                   required>
            <span *ngIf="vUsuario.errors?.required" class="mensaje-requerido">Usuario es requerido</span>
          </div>
          <div class="form-group col-md-4">
            <label for="password">Contraseña</label>
            <input class="form-control"
                   type="password"
                   id="password"
                   name="password"
                   #vPassword = "ngModel"
                   [(ngModel)]="password"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="'-_/."
                   maxlength="25"
                   required>
            <span *ngIf="vPassword.errors?.required" class="mensaje-requerido">Contraseña es requerido</span>
          </div>
          <div class="form-group col-md-4">
            <label for="canal">Canal</label>
            <select class="form-control"
                    id="canal"
                    name="canal"
                    #vCanal="ngModel"
                    [(ngModel)]="canal"
                    required>
              <option [ngValue]="null">SELECCIONAR</option>
              <option *ngFor="let c of vObjCanal" [ngValue]="c.codigo">{{c.codigo}} - {{ c.descripcion }}</option>
            </select>
            <span *ngIf="vCanal.errors?.required" class="mensaje-requerido">Canal es requerido</span>
          </div>
        </div>

      </form>
    </div>

    <div class="row">
      <h3>Búsqueda por</h3>
    </div>

    <div class="row">
      <form class="col-md-12" role="form" #clientesForm="ngForm" novalidate>

        <div class="form-row" >
          <div class="form-group col-md-6">
            <label for="nitCliente">NIT</label>
            <input class="form-control"
                   type="text"
                   id="nitCliente"
                   name="nitCliente"
                   #vNitCliente = "ngModel"
                   [(ngModel)]="nitCliente"
                   validarNumeroDirective="true" Enteros="15" Decimales="0"
                   required>
            <!--<span *ngIf="vNitCliente.errors?.required" class="mensaje-requerido">NIT es requerido</span>-->
          </div>
          <div class="form-group col-md-6">
            <label for="razonSocial">Razón Social</label>
            <input class="form-control"
                   type="text"
                   id="razonSocial"
                   name="razonSocial"
                   #vRazonSocial = "ngModel"
                   [(ngModel)]="razonSocial"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="'-_/"
                   onkeyup="javascript:this.value=this.value.toUpperCase();"
                   maxlength="50"
                   required>
            <!--<span *ngIf="vRazonSocial.errors?.required" class="mensaje-requerido">Razón Social es requerido</span>-->
          </div>

        </div>
        <div class="form-row" >
          <div class="form-group col-md-12">
            <span *ngIf="vNitCliente.errors?.required && vRazonSocial.errors?.required" class="mensaje-requerido">NIT o Razón Social son requeridos</span>
          </div>
        </div>
      </form>
    </div>

    <div class="card">
      <div class="card-header">
        <form class="form-inline">

          <button type="button"
                  class="btn btn-spt-general"
                  (click)="llamarServicios()"
                  [disabled]="(usuario === '' || usuario === null) ||
                              (password === '' || password === null) ||
                              (canal === '' || canal === null) ||
                              ((nitCliente === '' || nitCliente === null) && (razonSocial === '' || razonSocial === null))">
            <i class="fas fa-arrow-alt-circle-down"></i> Cargar Datos
          </button>

          <div class="input-group col-4">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="icon ion-search"></i></div>
            </div>
            <input id="data"
                   name="data"
                   type="text"
                   class="form-control"
                   placeholder="Buscar Cliente"
                   maxlength="25"
                   [(ngModel)]="filtroDeBusqueda"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="/_,.">
          </div>
        </form>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table  table-bordered">
            <thead class="tabla-cabecera">
            <tr>
              <th style="text-align:center">Acciones</th>
              <th>Cod. Agrupador </th>
              <th>Cod. Localizador </th>
              <th>Razón Social</th>
              <th>NIT</th>
              <th>Tipo</th>
              <th>Monto (Bs.)</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let data of listaObjeto | filtro: filtroDeBusqueda | paginate: { itemsPerPage: 100, currentPage: 1} ; index as i">
              <tr>
                <td align="center" [attr.rowspan]="data.localizadores.length" style="vertical-align: middle">
                  <button title="Pagar"
                          class="btn btn-spt-icon btn-primary"
                          (click)="pagarAdvertencia(data.codigoAgrupador, data.localizadores)"><i class="far fa-money-bill-alt"></i></button>
                </td>
                <td [attr.rowspan]="data.localizadores.length" style="vertical-align: middle">
                  {{data.codigoAgrupador}}
                </td>
                <td>{{data.localizadores[0].codigoLocalizador}}</td>
                <td>{{data.localizadores[0].razonSocial}}</td>
                <td>{{data.localizadores[0].nit}}</td>
                <td>{{data.localizadores[0].tipoDocumento}}</td>
                <td align="right">{{data.localizadores[0].montoPago | number : '1.2-2'}} </td>
              </tr>
              <ng-container *ngFor="let local of data.localizadores; first as isFirst">
                <tr *ngIf="!isFirst">
                  <td>{{local.codigoLocalizador}}</td>
                  <td>{{local.razonSocial}}</td>
                  <td>{{local.nit}}</td>
                  <td>{{local.tipoDocumento}}</td>
                  <td align="right">{{local.montoPago | number : '1.2-2'}}</td>
                </tr>
              </ng-container>
            </ng-container>
            </tbody>
          </table>
        </div>

        <pagination-controls *ngIf="listaObjeto.localizadores > 0" (pageChange)="pagina = $event"></pagination-controls>
      </div>
    </div>

  </div>
</div>
