<h2>Conciliaciones</h2>
<hr class="primary" style="height: 0.4rem; background-image: -webkit-linear-gradient(left, #2471a3, #1f618d, #1a5276);" />
<div class="card">
  <div class="card-body">
    <div class="row">
      <h3>Búsqueda por</h3>
    </div>

    <div class="row">
      <form class="col-md-12" role="form" #conciliacionesForm="ngForm" novalidate>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="codigoAgrupador">Código Agrupador</label>
            <input class="form-control"
                   type="text"
                   id="codigoAgrupador"
                   name="codigoAgrupador"
                   #vCodigoAgrupador = "ngModel"
                   [(ngModel)]="codigoAgrupador"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="'-_/"
                   onkeyup="javascript:codigoAgrupador.toUpperCase();"
                   maxlength="20">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label >Fecha Desde</label>
            <div class="input-group">
              <input class="form-control"
                     [ngModelOptions]="{standalone: true}"
                     #vFechaDesde = "ngModel"
                     matInput [matDatepicker]="pickerFechaDesde"
                     (dateChange)="validarFecha(fechaDesde)"
                     [min]="fechaMinimaDesde"
                     [max]="fechaMaximaDesde"
                     [(ngModel)]="fechaDesde"
                     validarNoEditable="true" Editable="no"/>
              <div class="input-group-append">
                <span *ngIf="fechaDesde !== '' && fechaDesde !== null" (click)="limpiarDesde()" class="input-group-text"><i class="fas fa-times"></i></span>
                <span (click)="pickerFechaDesde.open()" class="input-group-text"><i class="far fa-calendar-alt"></i></span>

                <mat-datepicker #pickerFechaDesde></mat-datepicker>
              </div>
            </div>
            <span *ngIf="fechaHasta !== '' && fechaHasta !== null && (fechaDesde === '' || fechaDesde === null)"

                  class="mensaje-requerido">Fecha Desde es requerido</span>
          </div>

          <div class="form-group col-md-6">
            <label >Fecha Hasta</label>
            <div class="input-group">
              <input class="form-control"
                     [ngModelOptions]="{standalone: true}"
                     #vFechaHasta = "ngModel"
                     matInput [matDatepicker]="pickerFechaHasta"
                     [min]="fechaMinimaHasta"
                     [max]="fechaMaximaHasta"
                     [(ngModel)]="fechaHasta"/>
              <div class="input-group-append">
                <span *ngIf="fechaHasta !== '' && fechaHasta !== null" (click)="limpiarHasta()" class="input-group-text"><i class="fas fa-times"></i></span>
                <span (click)="pickerFechaHasta.open()" class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                <mat-datepicker #pickerFechaHasta></mat-datepicker>
              </div>
            </div>
            <span *ngIf="fechaDesde !== '' && fechaDesde !== null && (fechaHasta === '' || fechaHasta === null)"

                  class="mensaje-requerido">Fecha Hasta es requerido</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="canal">Canal</label>
            <select class="form-control custom-select"
                    id="canal"
                    name="canal"
                    #vCanal="ngModel"
                    [(ngModel)]="canal">
              <option [ngValue]="null">TODOS</option>
              <option *ngFor="let c of vObjCanal" [ngValue]="c">{{c.codigo}} - {{ c.descripcion }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="medioPago">Medio de Pago</label>
            <select class="form-control custom-select"
                    id="medioPago"
                    name="medioPago"
                    #vMedioPago="ngModel"
                    [(ngModel)]="medioPago">
              <option [ngValue]="null">TODOS</option>
              <option *ngFor="let c of vObjMedioPago" [ngValue]="c">{{c.id}} - {{ c.descripcion }}</option>
            </select>
          </div>
        </div>
      </form>
    </div>

    <div class="card">
      <div class="card-header">
        <form class="form-inline">

          <button type="button" style="margin-right: 15px;"
                  class="btn btn-general"
                  (click)="llamarServicios()"
                  [disabled]="(fechaDesde !== '' && fechaDesde !== null && (fechaHasta === '' || fechaHasta === null)) ||
                              (fechaHasta !== '' && fechaHasta !== null && (fechaDesde === '' || fechaDesde === null))">
            <i class="fas fa-arrow-alt-circle-down"></i> Cargar Datos
          </button>

          <button type="button" style="margin-right: 15px;"
                  class="btn btn-general-default"
                  (click)="impresionDocumento('PDF')"
                  [disabled]="(vFechaDesde.errors?.required || vFechaHasta.errors?.required) ||
                              listaObjeto.base64Pdf === '' || listaObjeto.base64Pdf === null">
            <i style="color:red" class="fas fa-file-pdf"></i> Descargar PDF
          </button>

          <button type="button"
                  class="btn btn-general-default"
                  (click)="impresionDocumento('XLS')"
                  [disabled]="(vFechaDesde.errors?.required || vFechaHasta.errors?.required) ||
                              listaObjeto.base64Excel === '' || listaObjeto.base64Excel === null">
            <i style="color:green" class="fas fa-file-excel"></i> Descargar EXCEL
          </button>

          <div class="input-group col-4">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="icon ion-search"></i></div>
            </div>
            <input id="data"
                   name="data"
                   type="text"
                   class="form-control"
                   placeholder="Buscar"
                   maxlength="25"
                   [(ngModel)]="filtroDeBusqueda"
                   validarLetrasDirective="true" SoloLetras="no" Especiales="/_,.:-">
          </div>
        </form>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="tabla-cabecera">
            <tr>
              <th align="center">#</th>
              <th>Agrupador</th>
              <th>Localizador</th>
              <th>NIT</th>
              <th>Razón Social</th>
              <th>Tipo</th>
              <th>Fecha Pago<br>Entidad</th>
              <th>Fecha Efectiva<br>Pago</th>
              <th>Canal</th>
              <th>Medio Pago</th>
              <th>Usuario<br>Transacción</th>
              <th>Monto (Bs.)</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of listaObjeto.conciliaciones | filtro: filtroDeBusqueda | paginate: { id: 'first', itemsPerPage: maxPage, currentPage: pagina, totalItems: cantFilas}; index as i">
              <td>{{i+1}}</td>
              <td>{{data.codigoAgrupador}}</td>
              <td>{{data.codigoLocalizador}}</td>
              <td>{{data.nitClienteMedioPago}}</td>
              <td>{{data.razonSocialMedioPago}}</td>
              <td>{{data.tipoDocumento}}</td>
              <td>{{data.fechaMedioPago | formatoFecha: 'DD/MM/YYYY HH:mm:ss'}}</td>
              <td>{{data.fechaEfectivaPago | formatoFecha: 'DD/MM/YYYY HH:mm:ss'}}</td>
              <td>{{data.canalMedioPago}}</td>
              <td>{{data.descripcionMedioPago}}</td>
              <td>{{data.usuarioTransaccionMedioPago}}</td>
              <td align="right">{{data.monto | number : '1.2-2'}} </td>
            </tr>
            </tbody>
            <tfoot *ngIf="cantFilas > 0">
            <tr class="table-success">
              <td colspan="11"><strong>Total: </strong></td>
              <td align="right"><strong>{{listaObjeto.total | number : '1.2-2'}}</strong></td>
            </tr>
            </tfoot>
          </table>
        </div>
        <div class="row" *ngIf="cantFilas > 0">
          <div class="col-sm-5 col-md-9" style="padding-left: 0px;">
            <pagination-controls
              id='first'
              (pageChange)="pagina = $event"
              previousLabel="Anterior"
              nextLabel="Siguiente"></pagination-controls>
          </div>
          <div class="col-sm-5 offset-sm-2 col-md-3 offset-md-0" style="padding-right: 0px;">
            <form>
              <div class="form-group row" >
                <label for="maxPage" class="col-6 col-form-label text-right">Mostrar:</label>

                <div class="col-6" style="padding-right: 0px;">
                  <select class="form-control custom-select"
                          id="maxPage"
                          name="maxPage"
                          [(ngModel)]="maxPage">
                    <option [ngValue]=10>10</option>
                    <option [ngValue]=20>20</option>
                    <option [ngValue]=30>30</option>
                    <option [ngValue]=40>40</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

