.sub-container{
  position: fixed;
  top:65px;
  left:30px;
  z-index: 20;
  padding: 10px 50px;
  border-radius: 4px;
  background-color: #1a5276  ;
  color: white;
}

@media screen and (max-width: 992px) {
  .sub-container{
    display: none;
  }
}
