
<div style="margin: 20px">
  <div class="card">
  <div class="card-header">
      <h1>Titulo de Pagina</h1>
  </div>
  <div class="card-body table-responsive">
      <!--<table class="table table-bordered table-hover " style="text-align:center">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<td>&nbsp;</td>-->
          <!--<td>&nbsp;</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>&nbsp;</td>-->
          <!--<td>&nbsp;</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>&nbsp;</td>-->
          <!--<td>&nbsp;</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td>&nbsp;</td>-->
          <!--<td>&nbsp;</td>-->
        <!--</tr>-->
        <!--</thead>-->
      <!--</table>-->
      <table class="table table-bordered table-hover " style="text-align:center">
        <thead>
        <tr>
          <th scope="col">Seleccionar</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th colspan="3"></th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th scope="col"><input class="form-control" type="text" placeholder="Buscar"></th>
          <th scope="col"><input class="form-control" type="text" placeholder="Buscar"></th>
          <th scope="col"><input class="form-control" type="text" placeholder="Buscar"></th>
          <th scope="col"><input class="form-control" type="text" placeholder="Buscar"></th>
          <th scope="col"><input class="form-control" type="text" placeholder="Buscar"></th>
          <th scope="col"><input class="form-control" type="text" placeholder="Buscar"></th>
          <th scope="col"><input class="form-control" type="text" placeholder="Buscar"></th>
          <th scope="col"><input class="form-control" type="text" placeholder="Buscar"></th>
          <th scope="col" colspan="3"><button class="btn btn-primary">ADICIONAR</button></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>&nbsp;<br>&nbsp;</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <th scope="row"></th>
          <!--<th scope="row"></th>-->
          <th scope="row"></th>
        </tr>
        <tr>
          <td>&nbsp;<br>&nbsp;</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <th scope="row"></th>
          <!--<th scope="row"></th>-->
          <th scope="row"></th>
        </tr>
        <tr>
          <td>&nbsp;<br>&nbsp;</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <th scope="row"></th>
          <!--<th scope="row"></th>-->
          <th scope="row"></th>
        </tr>
        <tr>
          <td>&nbsp;<br>&nbsp;</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <th scope="row"></th>
          <!--<th scope="row"></th>-->
          <th scope="row"></th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

