// ============================================== IMPORT ANGULAR MATERIAL ==============================================
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*===================================== COLORES ==========================================*/
$color-primario-dark: #7b241c ;
$color-primario: #922b21;
$color-primario-light: #a93226;

$color-secundario-dark: #1a5276;
$color-secundario: #1f618d;
$color-secundario-light: #2471a3;

$color-gris-dark: #aeb6bf;
$color-gris: #f2f3f4;
$color-gris-light: #f8f9f9;


$color-verde: #27ae60;
$color-verde-light: #52be80;

$color-azul: #3498db;
$color-azul-light: #5dade2;

$color-naranja:  #f39c12;
$color-naranja-light: #f5b041;

$color-lila: #9b59b6;
$color-lila-light: #af7ac5;





/*===================================== COMPONENTES DE BOOTSTRAP ==========================================*/
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.th {
  text-align: center;
}

* {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

.btn:focus{
  outline: none !important;
}

.btn:disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: auto;
}

a.btn:disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

a:btn[disabled] {
  pointer-events: none;
}

*:disabled {
  cursor: not-allowed;
}


// ============================================== BUTTONS ==============================================

/* -------------- BUTTON GUARDAR ----------------*/
.btn-guardar{
  background-color: $color-secundario;
  box-shadow: 0 .25rem .5rem #b6b6b6;
  -webkit-box-shadow: 0 .25rem .5rem #b6b6b6;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;

}
.btn-guardar:hover,
.btn-guardar:focus,
.btn-guardar:active,
.btn-guardar:visited {
  background-color: $color-secundario-light;
  color: white;
}


/* -------------- BUTTON CANCELAR ----------------*/
.btn-cancelar {
  color: black;
  background-color: $color-gris;
  box-shadow: 0 .25rem .5rem #b6b6b6;
  -webkit-box-shadow: 0 .25rem .5rem #b6b6b6;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn-cancelar:hover,
.btn-cancelar:focus,
.btn-cancelar:active,
.btn-cancelar:visited {
  background-color: $color-gris-light;
  color: black;
}

/* -------------- BUTTON BASIC/GENERAL ----------------*/

.btn-general{
  color: #fff;
  background-color: $color-primario;
  box-shadow: 0 .25rem .5rem #b6b6b6;
  -webkit-box-shadow: 0 .25rem .5rem #b6b6b6;
}
.btn-general:hover,
.btn-general:focus,
.btn-general:active,
.btn-general:visited {
  background-color: $color-primario-light;
  //color:$btn-text-color;
}




.btn-general-default{
  color: black;
  background-color: $color-gris;
  box-shadow: 0 .25rem .5rem #b6b6b6;
  -webkit-box-shadow: 0 .25rem .5rem #b6b6b6;
}
.btn-general-default:hover,
.btn-general-default:focus,
.btn-general-default:active,
.btn-general-default:visited {
  background-color: $color-gris-light;
  //color:$btn-text-color;
}




.btn-padding {
  margin-right: 2px;
  margin-left: 2px;
}


/* -------------- BUTTON ICON ICONS ----------------*/
.btn-icon {
  width: 35px;
  height: 35px;
  color: white;
  padding: 0px;
  margin: 0px 1px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 .25rem .5rem #b6b6b6;
  -webkit-box-shadow: 0 .25rem .5rem #b6b6b6;
  i {
    font-size: 15px !important;
  }
}


/* -------------- BUTTON ICON ADICIONAR----------------*/
.btn-verde{
  background-color: $color-verde;
}
.btn-verde:hover,
.btn-verde:focus,
.btn-verde:active,
.btn-verde:visited {
  background-color: $color-verde-light;
}


/* -------------- BUTTON ICON EDITAR----------------*/
.btn-azul{
  background-color: $color-azul;
}
.btn-azul:hover,
.btn-azul:focus,
.btn-azul:active,
.btn-azul:visited {
  background-color: $color-azul-light;
}


/* -------------- BUTTON ICON ELIMINAR----------------*/
.btn-naranja{
  background-color: $color-naranja;
}
.btn-naranja:hover,
.btn-naranja:focus,
.btn-naranja:active,
.btn-naranja:visited {
  background-color: $color-naranja-light;
}

/* -------------- BUTTON ICON VER----------------*/
.btn-lila{
  background-color: $color-lila;
}
.btn-lila:hover,
.btn-lila:focus,
.btn-lila:active,
.btn-lila:visited {
  background-color: $color-lila-light;
}



/* -------------- BUTTON WITH RESIZING----------------*/

.btn-accion .fa {
  display: none;
}

@media screen and (max-width: 1500px) {
  .btn-accion {
    width: 40px;
    height: 38px;
  }
  .btn-accion .fa {
    display: block;
    color: #fff;
    -webkit-text-stroke-width: 0px;
    font-size: 1.3em;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-15%, -40%);
  }
  .btn-accion-text{
    display: none;
  }
}




// ============================================== TAGS DE ESTADO ==============================================
$color-estado-activo: #49DB81;
$color-estado-inactivo:#FC4E6C;

.tag-activo {
  background-color: $color-estado-activo;
  color: white;
  border-radius: 5px;
  padding: 3px 13px;
}

.tag-inactivo {
  background-color: $color-estado-inactivo;
  color: white;
  border-radius: 5px;
  padding: 3px 13px;
}

// ============================================== FORMATO DE TEXTOS ==============================================
.a-izquierda{
  text-align: left;
}

.a-derecha{
  text-align: right;
}

.a-centro{
  text-align: center;
}
// ============================================== PAGINACIÓN ==============================================
.ngx-pagination{
  padding-left: 0px;
}


.ngx-pagination .current{
  background-color: $color-secundario-dark !important;
  border-radius: 5px;
  padding: 4px 10px !important;
}

.ngx-pagination .pagination-previous a:hover{
  color: $color-secundario-dark;
}

.ngx-pagination .pagination-next a:hover{
  color: $color-secundario-dark;
}

// ============================================== FORMS ==============================================

.inline {
  display:inline-block;
  margin-right:5px;
}
/* -------------- Modal ----------------*/
.titulo-modal{
  background-color: $color-primario-light;
  color: white;
  padding: 15px 0px 5px 13px;
}
.texto-mensaje-modal{
  font-size: 18px;
}

/* -------------- Input de Busqueda ----------------*/
.tamanio-busqueda{
  width: 250px !important;
}

/* -------------- DataTable ----------------*/
.tabla-cabecera{
  background-color: $color-primario-light;
  color: white;
}
.tabla-sobreCabecera{
  background-color: $color-secundario-light;
  color: white;
}

.tabla-fila{
  padding: 0.50rem !important;
}
.columna-1{
  width: 100px;
  max-width: 100px;
}
.columna-2{
  width: 200px;
  max-width: 200px;
}
.columna-3{
  width: 300px;
  max-width: 300px;
}

.buscador-nombre{
  padding: 5px;
}
/* ------------- Boton Eliminar -------------------*/
.eliminar-body{
  text-align: center;

  .eliminar-icon{
    font-size: 100px !important;
    color: $color-naranja;
  }
}
.eliminar-footer{
  padding: 20px;
  text-align: center !important;

  .btn-naranja{
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    width: 70px;
  }
}

.mensaje-requerido{
  color: #e74c3c ;
}

/*===================================== DATE PICKER ==========================================*/
.cdk-overlay-container {
  z-index: 4000 !important;
}


/*===================================== MENSAJES ==========================================*/
.titulo-naranja {
  color: $color-naranja;
  font-size:20px;
}

