
<div class="modal-header titulo-modal">
  <h4>Asignar - Desasignar Canal a {{vObjRecibido.descripcion}}</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12"  style="padding-left: 0px;">
      <form role="form" #modalForm="ngForm" novalidate>
        <div class="form-row">
          <div class="form-group col-md-10">
            <label for="canal">Canal</label>
            <select class="form-control custom-select"
                    id="canal"
                    name="canal"
                    #vCanal="ngModel"
                    [(ngModel)]="canal"
                    required>
              <option [ngValue]="null">SELECCIONAR</option>
              <option *ngFor="let c of listaCanal" [ngValue]="c">{{c.codigo}} - {{ c.descripcion }}</option>
            </select>
            <span *ngIf="vCanal.errors?.required" class="mensaje-requerido">Canal es requerido</span>
          </div>
          <div class="form-group col-md-2" style="margin-top: 23px;">
            <button class="btn btn-guardar" style="margin-left: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;padding-right: 5px;"
                    [disabled]="canal === '' || canal === null"
                    (click)="asignarAdvertencia(canal)"><i class="fas fa-plus"></i>&nbsp;&nbsp;Asignar&nbsp;&nbsp;
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="tabla-cabecera">
        <tr>
          <th style="text-align:center; width: 80px;">Acción</th>
          <th>Código</th>
          <th>Descripción</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of vObjMedioPago.canales; index as i">
          <td align="center" style="vertical-align: middle">
            <button title="Desasignar"
                    class="btn btn-icon btn-naranja"
                    (click)="desasignarAdvertencia(data)"><i class="fas fa-minus"></i></button>
          </td>
          <td>{{data.codigo}}</td>
          <td>{{data.descripcion}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-cancelar"
          (click)="cerrarVentana()">Cancelar
  </button>
</div>





